#board {
  margin: auto;
  width: 50%;
}

#square {
  box-sizing: border-box;
  border: 0.05vh solid black;
  width: 5vw;
  background: rgb(0, 129, 0);
  height: 10vh;
  display: inline-block;
  margin: auto;
}

#square .piece {
  width: 90%;
  height: 90%;
  border-radius: 40%;
  border-style: none;
  margin: 5% 0 0 5%;
}

.piece#none {
  visibility: hidden;
}

.piece#black {
  background: black;
}

.piece#white {
  background: white;
}